  /* 全局模块*/
  * {
      margin: 0;
      padding: 0;

  }

  .w {
      width: 1200px;
      margin: 0 auto;

  }

  body {
      background-color: #f3f5f7;
  }

  li {
      list-style: none;
  }

  a {
      text-decoration: none;
  }

  .clear-fix::before,
  .clear-fix::after {
      content: "";
      display: table;
  }

  .clear-fix::after {
      clear: both;
  }

  .clear-fix {
      *zoom: 1;
  }


  /* box 模块开始 */
  .box {
      display: grid;
      grid-template-columns: auto auto auto auto;
      grid-gap: 10px;
      padding: 10px;
  }

  .box .box-bd {
      /* border: 1px solid black; */
      text-align: center;
      font-size: 15px;

  }

  /* box 模块结束 */
  #map {
      margin-left: auto;
      margin-right: auto;

      /* background-color: brown; */

      width: 80%;
      height: 600px;
  }